* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    background: #101019;
}

.header {
    background: #4d4da9;
    border-radius: 0 0 2rem 2rem;
    padding-bottom: 0.5em;
}

.header-text {
    margin: 1em;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    align-self: center;
    margin-top: 1.5rem;
}

img {
    border: solid 1px #ebebeb;
    border-radius: .9em;
    box-shadow:  20px 20px 60px -25px #2a2a2a;
}

svg {
    text-align: center;
}

h1 {
    font-family: SanFrancisco;
    color: #e0e0e0;
}

@font-face {
    font-family: SanFrancisco;
    src: url(./assets/fonts/SF-Pro-Text-Medium.otf);
  }